@import "tailwindcss";

@font-face {
  font-family: "Inter-Bold";
  src: url("/src/assets/fonts/Inter_24pt-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-Regular";
  src: url("/src/assets/fonts/Inter_24pt-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-Italic";
  src: url("/src/assets/fonts/Inter_24pt-Italic.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  /* color: #2D3748; */
  color: #1f2532;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  /* background-color: #F7F3EF; */
  /* background-color: #faf9f9; */
}

html {
  /* background: linear-gradient(#aab9cf, #d2dae5, #ebeef3,#f5f7fa); */
  /* background-attachment: fixed;
  background-repeat: no-repeat; */
  background-color: #F7F3EF;
}

body {
  font-family: "Inter-Regular", sans-serif;
}

/* h1,
h2,
h3,
h4,h5,
h6,  */
p {
  padding-bottom: 1rem;
}

h1 {
  font-family: "Inter-Bold", sans-serif;
  font-size: 2.5rem;
}

h2 {
  font-family: "Inter-Bold", sans-serif;
  font-size: 2.25rem;
}

h3 {
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.75rem;
}

h4 {
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.5rem;
}

h5 {
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.25rem;
}

h6 {
  font-family: "Inter-Bold", sans-serif;
  font-size: 1rem;
}

strong {
  font-family: "Inter-Bold", sans-serif;
}

p,
span,
a,
li {
  font-family: "Inter-Regular", sans-serif;
}

em,
i {
  font-family: "Inter-Italic", sans-serif;
}

li {
  list-style-type: disc;
}

.pdf-page {
  display: none;
}

@media print {
  .pdf-page {
    display: block;
  }
  .website-content {
    display: none;
  }
}
